<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
   <p>join to the journey of nodejs magical req res system </p>
   <p>...</p>
   <p>you can browse all over the website, add some info about your blog and it will automatically connects the mongo server and 
    saves all the information.
    <p>...</p>
    <p>the website uses mvc system that makes the code look more understandable and extend if needed</p>
   </p>
  </div>


</body>
</html>